.App-header {
  width: 100%;
  height: 450px;
  position: relative; }
  .App-header .backColor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.99;
    background: #130d2c;
    background: -moz-linear-gradient(45deg, #130d2c 0%, #31245a 51%, #d81962 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #130d2c), color-stop(51%, #31245a), color-stop(100%, #d81962));
    background: -webkit-linear-gradient(45deg, #130d2c 0%, #31245a 51%, #d81962 100%);
    background: -o-linear-gradient(45deg, #130d2c 0%, #31245a 51%, #d81962 100%);
    background: -ms-linear-gradient(45deg, #130d2c 0%, #31245a 51%, #d81962 100%);
    background: linear-gradient(45deg, #130d2c 0%, #31245a 51%, #d81962 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#130d2c', endColorstr='#d81962', GradientType=1 ); }
  .App-header .mainBanner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden; }
    .App-header .mainBanner img {
      height: 100%;
      opacity: 0.3; }
  .App-header .elemets {
    border: 1px dotted white;
    width: 80%;
    height: 120px;
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 50%;
    margin-left: -40%; }
    .App-header .elemets .logo {
      border: 0px dotted white;
      position: absolute;
      left: 0;
      top: 10px;
      width: 150px;
      height: 150px;
      text-align: center;
      cursor: pointer; }
      .App-header .elemets .logo img {
        margin-top: 20px;
        width: 60%; }
    .App-header .elemets .userCart {
      float: right;
      border: 0px dotted white;
      width: 160px;
      height: 120px; }
      .App-header .elemets .userCart .user, .App-header .elemets .userCart .cart {
        cursor: pointer;
        float: left;
        width: 50%;
        line-height: 160px;
        text-align: center;
        transition: 0.3s; }
        .App-header .elemets .userCart .user i, .App-header .elemets .userCart .cart i {
          color: white;
          font-size: 50px; }
        .App-header .elemets .userCart .user:hover, .App-header .elemets .userCart .cart:hover {
          transform: scale(1.1); }

.footer {
  background: yellow; }

.menu {
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
  background: #0a4172;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.8;
  overflow: hidden; }
  .menu .option.search {
    width: 100%;
    background-color: #1a9bfc;
    border-left: 3px solid #1a9bfc; }
  .menu .option.toggle {
    width: 100%;
    margin-bottom: 50px; }
  .menu .option {
    width: 100%;
    background-color: #0a4172;
    height: 50px;
    line-height: 74px;
    border-left: 3px solid #0a4172;
    box-sizing: border-box;
    transition: 0.2s;
    position: relative;
    cursor: pointer; }
    .menu .option:hover {
      background-color: #033258;
      border-left: 3px solid #2ca2e6; }
    .menu .option i {
      color: white;
      font-size: 32px;
      position: relative;
      margin-left: 6px; }
    .menu .option label {
      color: white;
      position: absolute;
      top: -10px;
      width: 190px;
      left: 50px; }
  .menu:hover {
    width: 200px;
    opacity: 1; }

.personList {
  padding: 20px 10%;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }
  .personList .person.darkPink {
    border-top: 1px solid #31245a;
    border-bottom: 6px solid #31245a; }
  .personList .person.pink {
    border-top: 1px solid #692a7d;
    border-bottom: 6px solid #692a7d; }
  .personList .person.lightPink {
    border-top: 1px solid #d81962;
    border-bottom: 6px solid #d81962; }
  .personList .person {
    width: 320px;
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    transition: 0.3s;
    text-align: center; }
    .personList .person:hover {
      height: 480px; }
      .personList .person:hover .info {
        bottom: 0; }
    .personList .person img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .personList .info {
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    bottom: -400px;
    transition: 0.3s;
    padding: 10px;
    box-sizing: border-box; }

.shoppingCart {
  width: 320px;
  height: 85%;
  position: fixed;
  right: 0;
  z-index: 1000;
  top: 10%;
  border-radius: 6px 0 0 6px;
  background-color: white;
  -webkit-box-shadow: -5px -1px 16px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px -1px 16px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -5px -1px 16px -6px rgba(0, 0, 0, 0.75); }
  .shoppingCart .cartTitle {
    border-bottom: 1px dashed #eaeaea;
    padding: 8px;
    box-sizing: border-box; }
    .shoppingCart .cartTitle i {
      position: absolute;
      right: 10px;
      top: 7px;
      color: #d81962; }
  .shoppingCart .paypalButton {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #1a9bfc;
    border-radius: 0 0 6px 6px;
    bottom: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 300; }

/*# sourceMappingURL=index.css.map */
